.global-overlay{
	background-color: rgba(35, 35, 36, 0.7);
    z-index: 1000;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: all 250ms ease-out;
	top: 0;
	left: 0;
	position: fixed;
	&.overlay-open{
		visibility: visible;
		opacity: 1;
	}
}