
.section-title{
	position: relative;
	&.text-left{
		padding-left: 40px;
		&:before{
			position: absolute;
			content: "";
			left: 0;
			top: auto;
			bottom: 6px;
			width: 10px;
			height: 90%;
			background-color: #e2ecf5;		
		}
	}
	&.text-center{
		padding-bottom: 36px;
		&:before{
			position: absolute;
			content: "";
			left: 50%;
			transform: translateX(-50%);
			bottom: 0;
			height: 10px;
			width: 110px;
			background-color: #e2ecf5;		
		}
	} 
	&__main{
		font-size: 4.1rem;
		margin: 0;
		text-transform: capitalize;
	}
	&__desc{
		margin-top: 15px;
	}
}