/*****************************
71 - Utilities - Spacing
*****************************/


.mr{
	&--10{
		margin-right: 10px;
	}
}

.mb{
	&--15{
		margin-bottom: 15px;
	}
	&--27{
		margin-bottom: 27px;
	}
	&--30{
		margin-bottom: 30px;
	}
	&--32{
		margin-bottom: 32px;
	}
	&--33{
		margin-bottom: 33px;
	}
	&--40{
		margin-bottom: 40px;
	}
	&--47{
		margin-bottom: 47px;
	}
	&--50{
		margin-bottom: 50px;
	}
	&--55{
		margin-bottom: 55px;
	}
	&--60{
		margin-bottom: 60px;
	}
	&--65{
		margin-bottom: 65px;
	}
	&--70{
		margin-bottom: 70px;
	}
	&--80{
		margin-bottom: 80px;
	}
	@include breakpoint(medium){
		&-md{
			&--0{
				margin-bottom: 0px;
			}
			&--55{
				margin-bottom: 55px;
			}
			&--65{
				margin-bottom: 65px;
			}
			&--70{
				margin-bottom: 70px;
			}
		}
	}
}

.mt{
	&--30{
		margin-top: 30px;
	}
	&--40{
		margin-top: 40px;
	}
	&--70{
		margin-top: 70px;
	}
	@include breakpoint(medium){
		&-md{
			&--30{
				margin-top: 30px;
			}
			&--40{
				margin-top: 40px;
			}	
		}
	}
}